<!DOCTYPE html>
<html ng-app= "foodiesApp">
	<head>
		<title>::Foodies</title>
		<meta charset= "utf-8">
		<meta name= "viewport" content= "width= device-width, initial-scale= 1.0">
		<link rel= "stylesheet" type= "text/css" href= "css/reset.css">
		<link rel= "stylesheet" type= "text/css" href= "css/main.css">
		<link rel= "stylesheet" type= "text/css" href= "css/responsive.css">
		<script src= "scripts/angular.min.js"></script>
		<script src= "scripts/app.js"></script>
	<head>
		<body ng-controller= "foodiesController as foodCtrl">
			<div class= "header" ng-show= "header">
				<h1>Welcome to<br>Foodies</h1>
					<div class= "search">
						<p class= "title">Discover world renowned recipes</p>
						<form name= "validation" ng-submit= "validation.$valid && getSearch() " novalidate>
							<input type= "text" name= "text" id= "search" ng-model= "typeIn" required>
							<input id= "submit" type= "submit" value= "search">
						</form>
					</div>
			</div>
			<div class= "unavailable" ng-show= "unavailable">
				<div class= "error">
					<div class= "errorMsg">FOODIES PANEL JUDGMENT!</div>
					<img height= "400px" width= "400px" class= "center" src= "images/error.jpg"/>
				</div>
				<p class= "right">Sorry your input is temporarily unavailable</p>
				<div class= "align">
					<a href= "index.html">
					<input id= "return" type= "button" value= "Return to Page">
					</a>
				</div>
			</div>
			<div class= "wrongInput" ng-show= "incorrect">
				<div class= "error">
					<div class= "errorMsg">FOODIES PANEL JUDGMENT!</div>
					<img height= "400px" width= "400px" class= "center" src= "images/error.jpg"/>
				</div>
					<p class= "right">Please type a valid input</p>
				<div class= "align">
					<a href= "index.html">
					<input id= "return" type= "button" value= "Return to Page">
					</a>
				</div>
			</div>
			<div class= "loadwrap"><img src= "images/loader.gif" id= "load" ng-show= "load"></div>
				<div id= "toAttach" ng-repeat= "food in result" ng-show = "numItems">	
					<ul>		
						<li class= "style">
						<a target= "_blank" ng-href= "http://www.yummly.com/recipe/external/{{food.id}}">
							<img class= "resize" ng-src= "{{imageProcess(food.imageUrlsBySize)}}">
						</a>
							<p class= "width" ng-hide= "rcpName">{{food.recipeName}}<br>
							<img src= "images/goback.jpg" class= "back" 
							ng-click= "HideIngredients()" ng-hide= "leavePresent"/>
								<input type= "submit" value= "View Ingredients" id= "ingredients" ng-click= "showIngredients()" ng-show= "onclick">
								<span class= "ingredients" ng-repeat= "ingredient in food.ingredients" ng-hide= "hideIngredients"><font class= "diff_color"></font>{{ingredient}}
								</span>
							</p>
						</li>
					</ul>
				</div>	
		</body>
</html>