<!DOCTYPE html>
<html ng-app= "foodiesApp">
	<head>
		<title>::Foodies</title>
		<meta charset= "utf-8">
		<meta name= "viewport" content= "width= device-width, initial-scale= 1.0">
		<link rel= "stylesheet" type= "text/css" href= "css/reset.css">
		<link rel= "stylesheet" type= "text/css" href= "css/main.css">
		<link rel= "stylesheet" type= "text/css" href= "css/responsive.css">
		<script src= "scripts/angular.min.js"></script>
		<script src= "scripts/app.js"></script>
	<head>
		<body ng-controller= "foodiesController as foodCtrl">
			<div class= "header">
				<h1>Welcome to<br>Foodies</h1>
					<div class= "search">
						<p class= "title">Discover world renowned recipes</p>
						<form action= "#" ng-submit= "getSearch()">
							<input type= "text" name= "text" id= "search" ng-model= "typeIn">
							<input id= "submit" type= "submit" value= "search">
						</form>
					</div>
			</div>
				<div id= "toAttach" ng-repeat= "food in result">
					<ul>
						<a target= "_blank" ng-href= "http://www.yummly.com/recipe/external/{{food.id}}">
						<li class= "style">
							<img class= "resize" ng-src= "{{food.imageUrlsBySize.90}}">
						</a>
							<p class= "width hide">{{food.recipeName}}
								<p class= "ingredients" ng-repeat= "ingredient in food.ingredients"><font class= "diff_color"></font>{{ingredient}}</p>
							</p>
						</li>
					</ul>
				</div>	
		</body>
</html>